@{
    ViewData["Title"] = "Home Page";
}
<body style="
    background-color:#ede5db;
    ">
<div class="text-center">
    <h1 
    class="display-4" 
    style="
        color:#e21f5b; 
        text-shadow: 2px 2px 4px #000000;
        font-family: Impact, Arial, Verdana;
    "
    >GithubReps</h1>
    <p style=" color: #222121;">Desbrave novos repositórios.</p>
</div>
</body>
